.card-page-wrapper h2 {
  display: flex;
  width: 100%;
  font-family: Inter;
  color: #3a3a3a;
  font-weight: 700;
  font-size: 30px;
}
.card-page-wrapper p {
  width: 100%;
  font-size: 28px;
  color: #575757;
  font-weight: 600;
  margin-top: 15px;
}

.bold-word {
  color: #3d3d3d;
}

.card-page-wrapper {
  width: 80%;
  border-radius: 30px;
  margin: 25px auto 0px auto;
  height: auto;
  background-color: white;
  color: #3d3d3d;
  font-family: Inter;
  text-align: center;
  padding: 0 40px 30px 40px;
  box-sizing: border-box;
}

.content-wrapper {
  width: 70%;
  min-width: 1000px;
  margin: 0 auto;
}

.close-page-wrapper {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
  height: 60px;
}

.close-page-button {
  opacity: 0.8;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.close-img {
  color: #333333;
  font-size: 40px;
}

.scroll-to-top-wrapper {
  position: sticky;
  position: relative;
  bottom: 0;
  right: 23%;
}
.card-page-title {
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: 800;
  font-size: 40px;
  color: #3d3d3d;
  margin: 0px 0px 50px 0px;
}

.img-1 {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 30px;
}

.media-block-img {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card-page-content {
  text-align: left;
  max-width: 1000px;
  font-size: 28px;
  color: #575757;
  font-weight: 600;
}

.text-block-paragraph {
  margin-bottom: 30px;
}

.first-media-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 35px 0px 50px 0px;
}

.second-media-block {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
  margin: 35px 0px;
}

.media-block-text {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.second-media-block-text {
  margin-left: 30px;
}
.first-media-block-img {
  margin-left: 30px;
}

.media-block-img-wrapper {
  max-width: 100%;
  width: 62%;
  height: auto;
}

.media-block-img {
  border-radius: 30px;
}

.img-2,
.img-3 {
  display: flex;
  width: 100%;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  width: 80%;
  margin: 30px 0px;
}
.point-list li::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-image: url("https://maxkoltugin.github.io/How-Does-It-Work/icons/point.png");
}
.hand-point-list li::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-image: url("https://maxkoltugin.github.io/How-Does-It-Work/icons/hand-point.png");
}

.second-text-block {
  width: 80%;
}
.second-text-block h2 {
  width: 100%;
}

.ending {
  font-weight: 800;
  color: #3d3d3d;
  margin-top: 30px;
}
.ending::after {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-image: url("https://maxkoltugin.github.io/How-Does-It-Work/icons/smile.png");
}

.text-block-paragraph-heart::after {
  content: "";
  display: inline-block;
  margin: 0px 0px 0px 10px;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-image: url("https://maxkoltugin.github.io/How-Does-It-Work/icons/heart.png");
}

@media (max-width: 1400px) {
  .media-block {
    gap: 20px;
    flex-direction: column-reverse;
  }
  .first-media-block-img {
    margin-left: 0px;
  }
  .content-wrapper {
    min-width: 200px;
  }
  .media-block-img-wrapper,
  .card-list {
    width: 100%;
  }
  .media-block-text,
  .second-text-block {
    margin-top: 10px;
    width: 100%;
  }
  .second-media-block-text {
    margin-left: 0px;
  }
  .media-block-text h2 {
    font-size: 35px;
  }
}
@media (max-width: 900px) {
  .content-wrapper {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .card-page-wrapper {
    width: 100%;
    padding: 20px 20px;
  }
  .content-wrapper {
    width: 100%;
  }
  .card-page-title {
    font-size: 33px;
  }
  .card-page-wrapper h2 {
    font-size: 30px;
  }
  .close-page-button {
    margin-top: 20px;
  }
}
