.card {
  width: 288px;
  border-radius: 15px;
  background-color: #c777f5;
  overflow: hidden;
  margin: 0 10px 20px;
  flex-shrink: 0;
  cursor: pointer;
  will-change: transform, opacity, height, margin;
  border: 1px solid black;
}
.card-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0px 0px;
  background-color: #ffd900;
  border-bottom: 1px solid black;
  border-radius: 15px;
}

.card-img {
  /* width: 100%;
  height: 100%; */
  border-radius: 15px 15px 0px 0px;
}

.card-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 40%;
  box-sizing: border-box;
  text-align: center;
}

.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-radius: 15px;
  font-size: 20px;
  background-color: #e6e6e6;
  color: black;
  font-weight: 800;
  font-family: Inter;
}
