.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #272727;
}

.footer-contact-wrapper {
  display: grid;
  grid-template-columns: 25% 50% 5% 20%;
  grid-row: 100%;
  width: 100%;
  height: 80px;
  background-color: #272727;
}

.footer-data-publisher p {
  color: aliceblue;
  font-weight: 700;
  font-size: 18px;
}

.footer-data-publisher {
  padding: 0px 0px 25px 0px;
}

.publisher-text {
  font-size: 20px;
  color: #dcdcdc;
  font-weight: 600;
}

.footer-logo-wrapper {
  width: 100%;
  margin-top: 10px;
}
.footer-logo {
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
}

.email {
  color: #cbcbcb;
  cursor: pointer;
  text-decoration: none;
}

.feedback-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.feedback {
  display: flex;
  font-weight: 700;
  font-family: Inter;
  font-size: 20px;
}
.email:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .feedback {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 840px) {
  .footer-contact-wrapper {
    height: 230px;
    grid-template-columns: 100%;
  }
  .feedback {
    font-size: 20px;
  }
  .footer-logo-wrapper {
    margin-bottom: 5px;
  }

  .share-wrapper {
    margin-bottom: 40px;
  }
}

.share-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  flex-direction: column;
}

.wp-btn,
.tg-btn,
.vk-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: transparent;
  border: none;
}

.wp,
.tg,
.vk {
  cursor: pointer;
  width: 30px;
  background: transparent;
  border: none;
  margin: 0;
}

.wp {
  margin: 0px 15px 0px 20px;
}

.share-buttons {
  display: flex;
}

.share-text {
  font-size: 20px;
  font-family: inter;
  margin-bottom: 5px;
  font-weight: 700;
}
