.non-selectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Для всех ссылок-иконок и логотипа */
img:focus,
img:active {
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
}

/* Для мобильных браузеров (убирает синий фон при тапе) */
button,
.card-content,
.card-link,
.card,
.header-logo-group,
img {
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}
