.slider-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 668px;
  margin: 30px 0px;
}

.main-swiper {
  display: flex;
  flex-direction: column;
  width: 80%;
  aspect-ratio: 16/9;
  transition: all 1s ease;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
}

.main-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-swiper img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.swiper-pagination-bullet {
  background: #5a5a5a;
  opacity: 0.8;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background: #282727;
  width: 25px;
  border-radius: 15px;
  opacity: 0.9;
}

.small-swiper {
  display: none;
}

@media (max-width: 1100px) {
  .main-swiper {
    width: 95%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(1.2);
    margin: 0 30px;
  }
}

@media (max-width: 760px) {
  .main-swiper {
    display: none;
  }

  .small-swiper {
    display: flex;
    flex-direction: column;
    width: 190%;
    height: auto;
    aspect-ratio: 1/1.15;
    box-sizing: border-box;
  }
  .small-swiper img {
    cursor: pointer;
  }

  .small-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .swiper-pagination {
    position: static !important;
    margin-top: 10px;
    text-align: center;
    height: 20px;
  }
  .swiper-pagination-bullet {
    background: #272727;
    opacity: 0.8;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: all 0.3s;
  }

  .swiper-pagination-bullet-active {
    background: #242424;
    width: 25px;
    border-radius: 15px;
    opacity: 0.9;
  }
}

@media (max-width: 480px) {
  .small-swiper {
    aspect-ratio: 1/1.15;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    width: 20px;
  }
}
